@model ProjetoLaboratorio.Models.PedidoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PedidoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CpfCnpjC" class="control-label"></label>
                <input asp-for="CpfCnpjC" class="form-control" />
                <span asp-validation-for="CpfCnpjC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfCnpjS" class="control-label"></label>
                <input asp-for="CpfCnpjS" class="form-control" />
                <span asp-validation-for="CpfCnpjS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnaliseId" class="control-label"></label>
                <select asp-for="AnaliseId" class="form-control" asp-items="ViewBag.AnaliseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoAnaliseId" class="control-label"></label>
                <select asp-for="TipoAnaliseId" class="form-control" asp-items="ViewBag.TipoAnaliseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" id="valor" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="total">Total:</label>
                <span id="total" class="form-control"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrada" class="control-label"></label>
                <input asp-for="DataEntrada" class="form-control" />
                <span asp-validation-for="DataEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSaida" class="control-label"></label>
                <input asp-for="DataSaida" class="form-control" />
                <span asp-validation-for="DataSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const quantidadeInput = document.getElementById('Quantidade');
        const valorInput = document.getElementById('valor');
        const totalSpan = document.getElementById('total');

        quantidadeInput.addEventListener('input', calcularTotal);
        valorInput.addEventListener('input', calcularTotal);

        function calcularTotal() {
            const quantidade = parseFloat(quantidadeInput.value);
            const valor = parseFloat(valorInput.value);

            if (!isNaN(quantidade) && !isNaN(valor)) {
                const total = quantidade * valor;
                totalSpan.textContent = total.toFixed(2);
            } else {
                totalSpan.textContent = '';
            }
        }

        calcularTotal();
    </script>
}
