@model PedidosModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PedidosModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <input asp-for="ClienteId" class="form-control" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitanteId" class="control-label"></label>
                <input asp-for="SolicitanteId" class="form-control" />
                <span asp-validation-for="SolicitanteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnaliseId" class="control-label"></label>
                <select asp-for="AnaliseId" class ="form-control" asp-items="ViewBag.AnaliseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoAnaliseId" class="control-label"></label>
                <select asp-for="TipoAnaliseId" class ="form-control" asp-items="ViewBag.TipoAnaliseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrada" class="control-label"></label>
                <input asp-for="DataEntrada" class="form-control" />
                <span asp-validation-for="DataEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSaida" class="control-label"></label>
                <input asp-for="DataSaida" class="form-control" />
                <span asp-validation-for="DataSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
