@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>A maior Rede de Laboratórios de Análises Agronômicas do Brasil</p>
    <div>
          
        <style>
            .imagem-grande {
                width: 800px;
                height: auto;
            }
        </style>

        <img src="/img/logo.jpg" alt="logo" class="imagem-grande">

    </div>
</div>
