@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <p class="mb-4">A maior Rede de Laboratórios de Análises Agronômicas do Brasil</p>
    <div class="d-flex justify-content-center">
        <img src="/img/logo.jpg" alt="logo" class="img-fluid">
    </div>
</div>

