@model ProjetoLaboratorio.Models.ResultadoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ResultadoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PedidoId" class="control-label"></label>
                <select asp-for="PedidoId" class ="form-control" asp-items="ViewBag.PedidoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Laudo" class="control-label"></label>
                <input asp-for="Laudo" class="form-control" />
                <span asp-validation-for="Laudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLaudo" class="control-label"></label>
                <input asp-for="DataLaudo" class="form-control" />
                <span asp-validation-for="DataLaudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailCliente" class="control-label"></label>
                <input asp-for="EmailCliente" class="form-control" />
                <span asp-validation-for="EmailCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
